/*공통css*/
*{
    margin:0;
    padding:0;
}
html body{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    width:100%;
    overflow:scroll;
    overflow-x:hidden;
}
li{list-style:none;}
a{
    text-decoration:none;
    color:inherit;
}
/*공통end*/

/*Desktop*/
@media screen and (min-width:1024px){
    /*header*/
    #D_header{
        width:100%;
        margin:0 auto;
        position:relative;
    }
    #D_header>ul{
        position:absolute;
        left:0;
        top:0;
    }
    #D_subHeader{
        position:relative;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    #D_subHeader>img{
        width:100%;
        height:90px;
        object-fit:cover;
    }
    #D_subHeader>h1{
        position:absolute;
        color:#fff;
    }
    #D_pageRoot{
        width:100%;
        height:50px;
        background-color:#F1F1F1;
    }
    #D_pageRoot>p{
        font-size:16px;
        float:right;
        padding:15px 0;
        margin-right:24px;
    }

    /*toggle box*/
    .slide_open{
        position:absolute;
        margin:32px 0 0 10px;
        width:50px;
        height:50px;
        cursor:pointer;
    }
    .burgur{
        right: 15px;
        top: 23px;
        position: absolute;
        width: 20px;
        height: 2px;
        background: #000000;
    }
    .burgur .top-line{
        width: 20px;
        height: 2px;
        background-color: #000000;
        bottom: -5px;
        content: '';
        position: absolute;
        right: 0;
        -webkit-transition:  -webkit-transform .3s;
        transition: transform .3s;
    }
    .burgur .bottom-line {
        width: 20px;
        height: 2px;
        background-color: #000000;
        top: -5px;
        content: '';
        position: absolute;
        right: 0;
        -webkit-transition:  -webkit-transform .3s;
        transition: transform .3s;
    }
    .burgur.on {width: 0;}
    .burgur.on .bottom-line {
        -webkit-transform: translateY(5px) rotate(135deg);
        transform: translateY(5px) rotate(135deg);
    }
    .burgur.on .top-line{
        -webkit-transform: translateY(-5px) rotate(-135deg);
        transform: translateY(-5px) rotate(-135deg);
    }
    #D_nav{
        width:100%;
        height:783px;
        position:absolute;
        top:90px;
        background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(255,255,255,0.4));
        display:none;
        z-index:999;
    }
    #D_nav>ul{margin:135px 0 0 80px;}
    .nav_title{
        color:#0868ac;
        font-weight:bold;
        font-size:26px;
        margin-top:100px;
    }
    .nav_sbt{
        color:#fff;
        font-weight:normal;
        font-size:16px;
    }
    .nav_sbt>a{
        display:block;
        margin-top:10px;
    }
    /*toggle box end*/

    #D_header>ul{left:70px;}
    #D_header>ul>li{float:left;}
    #D_header>ul>li>a{
        display:block;
        margin:40px 6px 0 6px;
        padding:5px;
    }
    #D_header>h1{
        width:211px;
        height:90px;
        display:block;
        margin:0 auto;
    }
    #D_header>h1>a>img{
        width:211px;
        height:90px;
    }

    /*search*/
    .search{
        float:right;
        margin:40px 30px 0 0;
    }
    .search > div {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    .search > div:after {
        content: "";
        background: #000;
        width: 2px;
        height: 12px;
        position: absolute;
        top: 19px;
        right: 1px;
        transform: rotate(135deg);
    }
    .search > div > input {
        color: #000;
        font-size: 15px;
        background: transparent;
        width: 4px;
        height: 4px;
        padding: 8px;
        border: solid 2px #000;
        outline: none;
        border-radius: 35px;
        transition: width 0.5s;
        cursor: pointer;
    }
    .search > div > input::placeholder {
        color: #000;
        opacity: 0;
        transition: opacity 150ms ease-out;
    }
    .search > div > input:focus::placeholder {opacity: 1;}
    .search > div > input:focus,
    .search > div > input:not(:placeholder-shown) {width: 250px;}
    /*search end*/
    /*header end*/

    /*contents*/
    iframe{
        width: 100%;
        height: 468px;
    }

    #map{
        width: 1200px;
        margin:100px auto;
    }
    #map::after {
        content: '';
        display: block;
        clear: both;
    }

    #map > div {
        width: 100%;
        margin-bottom: 100px;
    }
    #map > div:last-child {margin-bottom: 0;}
    #map > div::after {
        content: '';
        display: block;
        clear: both;
    }

    #map > div > h1{
        text-align:center;
        margin-bottom: 15px;
    }

    .Add{
        margin:30px auto;
        padding:10px 0;
        width:1200px;
        height:125px;
        border:1px solid #0868ac;
    }

    .icon_div{
        width:25px; 
        height:25px; 
        margin-right:10px;
    }

    .icon_div > img {
        width: 100%;
        height: 100%;
    }

    .Add > ul{
        width:380px; 
        height:120px;
        margin:0 auto;
    }
    .Add > ul > li > ul::after {
        content: '';
        display: block;
        clear: both;
    }
    .Add > ul > li > ul > li{
        float:left;
        margin-top:5px;
    }
    
}
/*Desktop end*/

/*Tablet*/
@media screen and (min-width:768px) and (max-width:1023px){
    #T_subHeader{
        position:relative;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    #T_subHeader>img{
        width:100%;
        height:90px;
        object-fit:cover;
    }

    #T_subHeader>h1{
        position:absolute;
        color:#fff;
    }

    #T_pageRoot{
        width:100%;
        height:50px;
        background-color:#F1F1F1;
    }

    #T_pageRoot>p{
        font-size:16px;
        float:right;
        padding:15px 0;
        margin-right:24px;
    }

    /* map */
    iframe {
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }

    #map {
        width: 700px;
        margin: 80px auto;
    }
    #map::after {
        content: '';
        display: block;
        clear: both;
    }

    #map > div {
        width: 100%;
        margin-bottom: 80px;
    }
    #map > div:last-child {margin-bottom: 0;}
    #map > div::after {
        content: '';
        display: block;
        clear: both;
    }

    #map > div > h1 {
        text-align: center;
        margin-bottom: 15px;
    }

    .Add {
        width: 100%;
        height: 110px;
        margin: 25px auto;
        padding: 15px 0 10px;
        border: 1px solid #0868ac;
    }

    .icon_div {
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
    .icon_div > img {
        width: 100%;
        height: 100%;
    }

    .Add > ul {
        width: 60%;
        height: 100%;
        margin: 0 auto;
    }

    .Add > ul > li > ul::after {
        content: '';
        display: block;
        clear: both;
    }

    .Add > ul > li > ul > li {
        float: left;
        vertical-align: middle;
        margin-top: 5px;
    }
    .Add > ul > li > ul > li:first-child {margin-top: 0;}
    /* map end */
}
/*Tablet end*/



/*Mobile*/
@media screen and (min-width:320px) and (max-width:767px){
    #M_subHeader{
        position:relative;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    #M_subHeader > img{
        width:100%;
        height:25px;
        object-fit:cover;
    }
    #M_subHeader > h4{
        position:absolute;
        color:#fff;
    }
    #M_pageRoot{
        width:100%;
        height:30px;
        background-color:#F1F1F1;
    }
    #M_pageRoot > p{
        font-size:8px;
        float:right;
        padding:8px 0;
        margin-right:10px;
    }

    /* map */
    iframe {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    #map {
        width: 350px;
        margin: 40px auto;
    }
    #map::after {
        content: '';
        display: block;
        clear: both;
    }

    #map > div {
        width: 100%;
        margin-bottom: 80px;
    }
    #map > div:last-child {margin-bottom: 0;}
    #map > div::after {
        content: '';
        display: block;
        clear: both;
    }

    #map > div > h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .Add {
        width: 100%;
        height: 90px;
        font-size: 12px;
        margin: 10px auto;
        padding-top: 20px;
        border: 1px solid #0868ac;
    }

    .icon_div {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .icon_div > img {
        width: 100%;
        height: 100%;
    }

    .Add > ul {
        width: 82%;
        height: 80%;
        margin: 0 auto;
    }

    .Add > ul > li > ul::after {
        content: '';
        display: block;
        clear: both;
    }

    .Add > ul > li > ul > li {
        float: left;
        vertical-align: middle;
        margin-top: 3px;
    }
    .Add > ul > li > ul > li:first-child {margin-top: 0;}
    /* map end */
}
/*Mobile end*/